/*
 * Copyright 2012 Joshua Purcell <joshua.purcell@gmail.com>
 * 
 * This file is part of cardgamemgmt (CGM)
 * http://sourceforge.net/p/cardgamemgmt/wiki/Home/
 * 
 * CGM is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation, either 
 * version 3 of the License, or (at your option) any later
 * version.
 * 
 * CGM is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public
 * License along with CGM. If not, see
 * http://www.gnu.org/licenses/.
 */
/*@CHARSET "UTF-8";*/
/*
body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
#container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#container canvas {
  vertical-align: top;
  display: block;
  overflow: auto;
}
*/
body,html {
	height:100%;
  margin: 0;
}
#container {
	height:100%;
	width:100%;
  overflow: auto;
}
/* below declaration ensures kinetic's generated div fits correctly on the page */
#container div {
	display:block !important;
}
#container canvas {
  vertical-align: top;
  display: block;
  overflow: auto;
}
.glow {
  box-shadow: 0 0 20px #00B8FF;
  /*-moz-box-shadow: 0 0 20px #00B8FF;*/
  -webkit-box-shadow: 0 0 20px #00B8FF;
}
.moveglow {
  box-shadow: 10px 10px 10px black;
  /*-moz-box-shadow: 10px 10px 10px black;*/
  -webkit-box-shadow: 10px 10px 10px black;
}
