html {
  height: 100%;
}
body {
  height: 100%;
}
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background:#aaa;
  z-index:999;
}
#preloaderContent {
  position: absolute;
  border: 2px solid #fff;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
  /*-moz-border-radius: 15px;*/
  -webkit-border-radius: 15px;
}
#consoleSpan {
  position: absolute;
  background: #3C3B37;
  color: #BCB3A5;
}
#actionsSpan {
  position: absolute;
  vertical-align: middle;
}
#handSpan {
  position: absolute;
}
#setsSpan {
  position: absolute;
}
.gameArea {
  height:50%;
  width: 50%;
  min-height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.header {
  position: absolute;
  min-height: 75px;
  width: 200%;
  z-index: -999;
}
.glow{
  box-shadow: 0 0 20px #00B8FF;
  /*-moz-box-shadow: 0 0 20px #00B8FF;*/
  -webkit-box-shadow: 0 0 20px #00B8FF;
}
.moveglow{
  box-shadow: 10px 10px 10px black;
  /*-moz-box-shadow: 10px 10px 10px black;*/
  -webkit-box-shadow: 10px 10px 10px black;
}
.opponent {
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}
.playerArea {
  position: absolute;
  top:0px;
  /*min-height: 400px;*/
  width: 200%;
  background-image:url('../images/wallpaper-baratheon-sigil-1600.jpg');
  /*background-position: center bottom;*/
  background-position: center center;
  background-repeat:no-repeat;
  background-size:100%;
  z-index: -999;
}
.tmpOpponentArea {
  background-image:url('../images/wallpaper-lannister-sigil-1600.jpg');
}
.footer {
  position: absolute;
  /*min-height: 150px;*/
  width: 200%;
}
.card {
  position: absolute;
  display: inline; /* makes the cards behave like a span for placement purposes; may not be needed if each card is told its specific loc */
/*
  width: 162px;
  height: 233px;
  max-width: 323px;
  max-height: 465px;
  margin: 10px;
*/
}
.front {
  position: absolute;
/*  
  min-width: 69px;
  min-height: 100px;
*/
  /*border: 1px solid #000;*/
  border-radius: 6px 6px 6px 6px;
  /*-moz-transition: -moz-transform 1s;*/
/*
  margin: auto;
  -moz-transition: -moz-transform 1s;
*/
}
.expand {
  animation: expand 1s;
  -moz-animation: expand 1s;
  -webkit-animation: expand 1s;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
/*
  transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
*/
}
@-moz-keyframes expand {
  from { scale(1); }
  to { scale(2); }
}
@-webkit-keyframes expand {
  from { scale(1); }
  to { scale(2); }
}
.back {
  position: absolute;
/*
  min-width: 69px;
  min-height: 100px;
*/
  /*border: 1px solid #000;*/
  border-radius: 6px 6px 6px 6px;
}

.behind {
  z-index:-1;
  /*visibility: hidden;*/
}

.toback {
  -animation: toback 1s;
  -moz-animation: toback 1s;
  -webkit-animation: toback 1s;
  -transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}
@-moz-keyframes toback {
  from {-moz-transform:rotateY(0deg);}
  to {-moz-transform:rotateY(180deg);}
}
@-webkit-keyframes toback {
from {-webkit-transform:rotateY(0deg);}
to {-webkit-transform:rotateY(180deg);}
}
.tofront {
  -animation: tofront 1s;
  -moz-animation: tofront 1s;
  -webkit-animation: tofront 1s;
  -transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -frontface-visibility:hidden;
  -moz-frontface-visibility:hidden;
  -webkit-frontface-visibility:hidden;
}
@-moz-keyframes tofront {
from {-moz-transform:rotateY(180deg);}
to {-moz-transform:rotateY(0deg);}
}
@-webkit-keyframes tofront {
from {-webkit-transform:rotateY(180deg);}
to {-webkit-transform:rotateY(0deg);}
}
.turned {
  -animation: turned 1s;
  -moz-animation: turned 1s;
  -webkit-animation: turned 1s;
  -transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}
@-moz-keyframes turned {
from {-moz-transform:rotate(0deg);}
to {-moz-transform:rotate(90deg);}
}
@-webkit-keyframes turned {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(90deg);}
}
.unturned {
  -animation: unturned 1s;
  -moz-animation: unturned 1s;
  -webkit-animation: unturned 1s;
}
@-moz-keyframes unturned {
from {-moz-transform:rotate(90deg);}
to {-moz-transform:rotate(0deg);}
}
@-webkit-keyframes unturned {
from {-webkit-transform:rotate(90deg);}
to {-webkit-transform:rotate(0deg);}
}
.oppositePerspective {
  -animation: oppositePerspective 1s;
  -moz-animation: oppositePerspective 1s;
  -webkit-animation: oppositePerspective 1s;
  -transform:rotate(180deg) translate(960px, 365px);
  -moz-transform:rotate(180deg) translate(960px, 365px);
  -webkit-transform:rotate(180deg) translate(960px, 365px);
}
@-moz-keyframes oppositePerspective {
from {-moz-transform:rotate(0deg) translate(0px,0px);}
to {-moz-transform:rotate(180deg) translate(960px, 365px);}
}
@-webkit-keyframes oppositePerspective {
from {-webkit-transform:rotate(0deg) translate(0px, 0px);}
to {-webkit-transform:rotate(180deg) translate(960px, 365px);}
}
.originalPerspective {
  -animation: originalPerspective 1s;
  -moz-animation: originalPerspective 1s;
  -webkit-animation: originalPerspective 1s;
  -transform:rotate(0deg) translate(0px, 0px);
  -moz-transform:rotate(0deg) translate(0px, 0px);
  -webkit-transform:rotate(0deg) translate(0px, 0px);
}
@-moz-keyframes originalPerspective {
from {-moz-transform:rotate(180deg) translate(960px, 365px);}
to {-moz-transform:rotate(0deg) translate(0px,0px);}
}
@-webkit-keyframes originalPerspective {
from {-webkit-transform:rotate(180deg) translate(960px, 365px);}
to {-webkit-transform:rotate(0deg) translate(0px, 0px);}
}
