/*@CHARSET "UTF-8";*/
/*
body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
#container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#container canvas {
  vertical-align: top;
  display: block;
  overflow: auto;
}
*/
body,html {
  margin: 0;
}
#container {
  overflow: auto;
}
.glow {
  box-shadow: 0 0 20px #00B8FF;
  /*-moz-box-shadow: 0 0 20px #00B8FF;*/
  -webkit-box-shadow: 0 0 20px #00B8FF;
}
.moveglow {
  box-shadow: 10px 10px 10px black;
  /*-moz-box-shadow: 10px 10px 10px black;*/
  -webkit-box-shadow: 10px 10px 10px black;
}
